@model IEP.Areas.Teacher.Models.SubjectViewModel

@using (Html.BeginForm("AddSubject", "Home", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(x => x.Name)
        @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.Description)
        @Html.TextAreaFor(x => x.Description, new { @class = "form-control" })
    </div>

    <button type="submit" class="btn btn-default">Создать предмет</button>
}
