@using IEP.Helpers
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>@Constants.ApplicationName</h1>
    <p class="lead">@LocalizationHelper.AppPurpose</p>
</div>

<div class="row">
    <div class="col-md-4 col-md-offset-1">
        <h2>Getting started</h2>
        <p>
            Before registering you can start a demo course which will show you base aspects which you will face on @Constants.ApplicationName
        </p>
        <p><a class="btn btn-default btn-lg" href="http://go.microsoft.com/fwlink/?LinkId=301865">Start a demo course</a></p>
    </div>
    <div class="col-md-4 col-md-offset-2">
        <h2>Registration</h2>
        <p>Sign up to start learning something new or to be involved in a great process of teaching somebody</p>
        <p>
            @Html.ActionLink("Sign up", "Login", "Account", new {}, new { @class = "btn btn-default btn-lg" })
        </p>
    </div>
</div>  